page-cafe {

    .cafe {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/cafe.png") no-repeat;
        background-size: 100%;
      }

      .achocolatado {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/achocolatado.png") no-repeat;
        background-size: 100%;
      }

      .pao1 {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/pao1.png") no-repeat;
        background-size: 100%;
      }


      .mante {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/mante.png") no-repeat;
        background-size: 100%;
      }

      .prato {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/prato.png") no-repeat;
        background-size: 100%;
      }

      .sobre {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/sobre.png") no-repeat;
        background-size: 100%;
      }

      .salada {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/salada.png") no-repeat;
        background-size: 100%;
      }

      .molho {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/molho.png") no-repeat;
        background-size: 100%;
      }

      .guarnicao {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/guarnicao.png") no-repeat;
        background-size: 100%;
      }
      
      .complemento {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/complemento.png") no-repeat;
        background-size: 100%;
      }

      .refre {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/refre.png") no-repeat;
        background-size: 100%;
      }


      .sopa {
        width: 60px;
        height: 60px;
        margin: 20px auto 0;
        border-radius: 10%;
        background: url("../assets/img/sopa.png") no-repeat;
        background-size: 100%;
      }











}
